@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  width: 100%;
  height: 12vh;
  top: 0;
  left: 0;
  padding: 20px;
}

header.transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.main {
  /* max-width: 95rem;
  margin: auto; */
  margin-top: 80px;
  padding: 5rem 0;
}

.header {
  max-width: 90rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  font-size: 1;
}
.list-items:link,
.list-items:visited {
  color: #333;
}

.list-items:hover,
.list-items:active {
  text-decoration: underline;
  color: #4a4a53;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.ri-close-fill[name="close-icon"] {
  display: none;
}

/* hero-section */
.hero-section {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  padding: 2rem 0;
}

/* hero-header */
.hero-header {
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1;
}

.hero-header-sub {
  color: #e0061f;
}

.hero-paragraph {
  font-size: 1.5rem;
  width: 25rem;
  font-weight: lighter;
  color: #495057;
}

/* about section */
.about-section {
  max-width: 90rem;
  margin: auto;
  margin-bottom: 10rem;
}

.about-header {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.about-paragraph {
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.604);
  font-weight: lighter;
  line-height: 2;
}

.about-title {
  display: block;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  color: #333;
  font-size: 1.8rem;
}

/* partner section */
.header-partner {
  text-align: center;
  font-size: 2rem;
}
.partner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
